.form-title {
    font-weight: bold;
    font-size: 22px;
}
.form-header {
    background-color: #F7FAFF;
    padding: 23px 30px;
    border-bottom: 0px solid transparent;
}
.pd {
    padding: 30px 35px;
}
.sidebar #sidebar_menu li ul li a.active {
    font-weight: bold!important;
}
.status_inactive {
    display: inline-block;
    padding: 2px 15px;
    font-size: 11px;
    font-weight: 300;
    color: #fff !important;
    background: #f16565;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
}
.status_processing {
    display: inline-block;
    padding: 2px 15px;
    font-size: 11px;
    font-weight: 300;
    color: #fff !important;
    background: grey;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
}
.btn_edit {
    border: 1px solid #3B76EF;
    color: #3B76EF!important;
    padding: 4px 8px;
    cursor: pointer;
}
.btn_edit:hover {
    color: #fff!important;
    background-color: #3B76EF;
}
.btn_delete {
    border: 1px solid #f16565;
    color: #f16565!important;
    padding: 4px 8px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.5s;
}
.btn_delete:hover {
    color: #fff!important;
    background-color: #f16565;
}
.error-msg {
    color: red;
    font-size: 12px;
    margin-left: 12px;
    display: block;
}
.radio {
    margin: 0.5rem;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

.file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

/*Button upload multiple file */
.btn-upload {
    border: 1px solid #c5dbec;
    background: #d0e5f5;
    font-weight: bold;
    color: #2e6e9e;
}
/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.thumb {
    height: 80px;
    width: 100px;
    border: 1px solid #000;
}

ul.thumb-Images li {
    width: 120px;
    float: left;
    display: inline-block;
    vertical-align: top;
    height: 120px;
}

.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}

.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #d0e5f5;
    padding: 5px 3px;
    color: #000;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.5;
    font-size: 23px;
    line-height: 10px;
    border-radius: 50%;
}

.img-wrap:hover .close {
    opacity: 1;
    background-color: #ff0000;
}

.FileNameCaptionStyle {
    font-size: 12px;
}


/*Show color*/
.show-color {
    width: 30px;
    height: 30px;
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 3px solid #fff;
}
.image-td {
    width: 50px;
}
.wh200 img {
    width: 200px;
    height: 200px;
}
/*Form checkbox*/
.form-checkbox-label {
    display: inline-block;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    padding-left: 1.5rem;
    text-align: left;
    color: #333;
    margin-bottom: 0.5rem;
}
.form-checkbox-label input {
    width: auto;
    opacity: 0.0001;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
.form-checkbox-button {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    color: #999;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    transition: color 0.28s ease;
    will-change: color;
}
.form-checkbox-label span {
    display: block;
}
.form-checkbox-label:hover i {
    color: #337ab7;
}
.form-checkbox-button::before,
.form-checkbox-button::after {
    position: absolute;
    height: 0;
    width: 0.2rem;
    background-color: #337ab7;
    display: block;
    transform-origin: left top;
    border-radius: 0.25rem;
    content: "";
    transition: opacity 0.28s ease, height 0s linear 0.28s;
    opacity: 0;
    will-change: opacity, height;
}

.form-checkbox-button::before {
    top: 0.65rem;
    left: 0.38rem;
    transform: rotate(-135deg);
    box-shadow: 0 0 0 0.0625rem #fff;
}

.form-checkbox-button::after {
    top: 0.3rem;
    left: 0;
    transform: rotate(-45deg);
}
.form-checkbox-field:checked ~ .form-checkbox-button {
    color: #337ab7;
}

.form-checkbox-field:checked ~ .form-checkbox-button::after,
.form-checkbox-field:checked ~ .form-checkbox-button::before {
    opacity: 1;
    transition: height 0.28s ease;
}

.form-checkbox-field:checked ~ .form-checkbox-button::after {
    height: 0.5rem;
}

.form-checkbox-field:checked ~ .form-checkbox-button::before {
    height: 1.2rem;
    transition-delay: 0.28s;
}
.custom-i {
    top: 8px;
}
.nice-select {
    float: none;
}
.pro-color {
    width: 15px;
    height: 15px;
    display: inline-block;
}
.pro-size::after {
    content: ',';
}
.pro-size:last-child::after {
    display: none;
}
.cs_modal .modal-body input {
    margin-bottom: 5px;
}
.image-wrap img {
    width: 100%;
}
.status-switch input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.status-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.status-switch label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 45px;
    transition: 0.3s;
}

.status-switch input:checked + label {
    background: #05d34e;
}

.status-switch input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.order-info li i {
    font-weight: bold;
}
a.btn_reply.inactive {
    border-color: #ccc;
    color: #ccc !important;
    cursor: no-drop;
}
a.btn_reply.inactive:hover {
    background-color: transparent;
    color: #ccc !important;
}

.QA_section .QA_table .table thead th, .QA_section .QA_table tbody th, .QA_section .QA_table tbody td {
    padding: 5px 10px;
}
